{% extends "layout.html" %}
{% block title %}500{% endblock %}

{% block body %}

<br>
<div class="jumbotron bg-light text-center border shadow">
    <h2>Ups! Error 500:</h2>
    <h3 class="border-top pt-2">Algo fue mal</h3>
    <br>
    <img src="../static/images/404.gif" width="480" height="204" class="rounded mx-auto d-block" alt="404">
    <br>
    <a class="btn btn-primary p-2 rounded-pill shadow-sm font-weight-bold" href="/" title="Home" role="button" style="width: 10rem;">
        <i class="fas fa-home"></i> Home
      </a>
</div>

{% endblock %}