{% extends "layout.html" %}
{% block title %}Editar libro{% endblock %}

{% block body %}

{% for post in posts if post.titulo == libro %}

<h3 class="text-center pt-5 pb-3">Editar Libro:</h3>
<form class="container w-75 bg-light jumbotron shadow border p-5" action="{{ url_for('edit_libro', post_titulo=post.titulo) }}" method="POST" autocomplete="off">
    <div class="form-row">
        <div class="form-group col">
            <label for="titulo">Título del libro</label>
            <input type="text" class="form-control" id="edTitulo" placeholder="{{post.titulo}}" value="{{post.titulo}}" name=edTitulo>
        </div>
        <div class="form-group col">
            <label for="autor">Autor del libro</label>
            <input type="text" class="form-control" id="edAutor" placeholder="{{post.autor}}" value="{{post.autor}}" name=edAutor>
        </div>
    </div>
    <div class="form-group">
        <label for="Resumen">Resumen del libro</label>
        <textarea class="form-control" id="edResumen" rows="4" placeholder="{{post.resumen}}" name=edResumen>{{post.resumen}}</textarea>
    </div>
    <div class="form-group">
        <label for="portada">Portada</label>
        <input type="text" class="form-control" id="edPortada" placeholder="{{post.imagen}}" value="{{post.imagen}}" name=edPortada>
    </div>
    {% with mensajes_error = get_flashed_messages() %}
    {% if mensajes_error %}
    <div class="alert alert-danger" id="dvErrores" role="alert">
        {% for mensaje in mensajes_error %}
        <strong>{{ mensaje }}</strong>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="row pt-4 text-center">
        <div class="col-sm">
            <a href="{{ url_for('libro', libro=post.titulo) }}" title="Cancelar">
                <button type="button" class="btn btn-primary p-2 font-weight-bold rounded-pill"
                    style="width: 10rem;">
                    <i class="fas fa-times-circle"></i>
                    <span class="align-top">Cancelar</span>
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="{{ url_for('delete_post', titulo=post.titulo) }}" title="Cancelar">
                <button type="button" class="btn btn-outline-danger p-2 font-weight-bold rounded-pill"
                    style="width: 10rem;">
                    <i class="fas fa-trash-alt"></i>
                    <span class="align-top">Eliminar</span>
                </button>
            </a>
        </div>
        <div class="col-sm">
            <button type="submit" class="btn btn-success p-2 font-weight-bold rounded-pill" value="save"
                style="width: 10rem;">
                <i class="fas fa-check-circle"></i>
                <span class="align-top">Guardar</span>
            </button>
        </div>
    </div>
</form>
<br>

{% endfor %}

{% endblock %}